<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link rel="stylesheet" href="/css/orderListStyle.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/getOrdersList.js"></script>
</head>
<body>
    <b>Это страничка с заказами для админа</b>
    <p class="orders"></p>
        <ul  id="orderExample" class="orderInfo">
            <li id="customerName">customerName</li>
            <li id="customerSecondName">customerSecondName</li>
            <li id="customerAddress">customerAddress</li>
            <li id="productId">productId</li>
            <li id="productName">productName</li>
            <li id="amountOfProducts">amountOfProducts</li>
        </ul>
    <ul id="appendToMe"></ul>
</body>
</html>