<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="/js/doRegistration.js"></script>
</head>
<body>
    <div id="registrationForm">
        <p>  <input id="login"  type="text" placeholder="Логин"> </p>
        <p> <input id="password" type="password" placeholder="Пароль"></p>
        <p> <input id="email" type="email" placeholder="Адрес электронной почты"></p>
        <input id="submitButton" type="submit" value="Регистрация">
    </div>
</body>
</html>